<header id="header" class="alt">
  <h1><a href="{{ '/' | url }}">Udruga Adonis</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="{{ '/' | url }}">Naslovna</a></li>
      <li><a href="{{ '/about/' | url }}">O nama</a></li>
      <li><a href="{{ '/projekti/' | url }}">Projekti</a></li>
      <li><a href="{{ '/donacije/' | url }}">Donacije</a></li>
      <li><a href="{{ '/kontakt/' | url }}">Kontakt</a></li>
    </ul>
  </nav>
</header>
<section id="banner" class="alt">
  <h2>{{ title }}</h2>
</section>
