<header id="header" class="alt">
  <div class="logo-container">
    <a href="{{ '/' | url }}" class="title">
      <img class="logo" src="{{ '/images/logo.png' | url }}" alt="Udruga Adonis" />
      <span class="title-text full-text">Humanitarna Udruga Adonis</span>
      <span class="short-text">Adonis</span>
    </a>
  </div>
  <nav id="nav">
    <ul>
      <li><a href="{{ '/' | url }}" class="mobile-only">Naslovna</a></li>
      <li><a href="{{ '/about/' | url }}">O nama</a></li>
      <li><a href="{{ '/projekti/' | url }}">Projekti</a></li>
      <li><a href="{{ '/mediji/' | url }}">Mediji</a></li>
      <li><a href="{{ '/prijavnice/' | url }}">Prijavnice</a></li>
      <li><a href="{{ '/novosti/' | url }}">Novosti</a></li>
      <li><a href="{{ '/donacije/' | url }}">Donacije</a></li>
      <li><a href="{{ '/kontakt/' | url }}">Kontakt</a></li>
      <li><a href="{{ '/darovi-s-pricom/' | url }}">Darovi s pričom</a></li>
    </ul>
  </nav>
</header>

{% if page.url != '/' and title %}
<section id="banner" class="alt">
  <h2>{{ title }}</h2>
</section>
{% endif %}
